@model Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo4_rooting_formulaire</title>
</head>
<body>
        <p>@Model.ToString()</p>

        <a asp-controller="Accueil" asp-action="Produit">Retoruner au Formulaire</a>
</body>
</html>
