
.dropdown {
    position: relative;
    display: inline-block;
}


.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    max-height: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: thin;

}


.dropdown-content li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2980b9;
}
.clickable-number {
cursor: pointer;
padding: 5px;
display: inline-block;
margin: 2px;
border-radius: 3px;
}

.clickable-number.clicked {
background-color: yellow;
color: red;
font-weight: bold;
}