.lien1 a {
    
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}

.lien1 a:hover {
    background-color: #0056b3;
}
.lien1 a:active{
    background-color: purple;
}
.lien2 a {
   
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}

.lien2 a:hover {
    background-color: #0056b3;
}
.lien2 a:active{
    background-color: purple;
}
.lien3 a {
    
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}

.lien3 a:hover {
    background-color: #0056b3;
}

.lien3 a:active{
    background-color: purple;
}